<%= form_tag(root_path, method: :get, class: "row") do %>
    <div class="input-group">
            <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search by Name/Zip/Address")%>
            <div class="input-group-append">
                <%= submit_tag("Search", name: nil, class: "btn btn-outline-secondary mb-3") %>
            </div>
    </div>
<% end %>